body {
  background: grey;
  margin: 0;
}
#wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  background: black;
  color: white;
  font: bold 18px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  padding-bottom: 50px;
}
header .container{
  position: relative;
  background: black;
  padding-top: 50px;
  padding-bottom: 50px;
}
.searchbar {
  float: right;
  margin: 10px;
}
.topheadercs{
  /*border: 1px solid black;*/
  float: right;
  padding: 20px;
}
.topheaderbr{
  float: right;
  padding: 20px
}
.bottomheader-container {
  clear: both;
}
.bottomheader{
  float: right;
  padding: 20px;
  background: rgba(0, 0, 0, 1);
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline;
}
nav ul li a{
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  color: white;
  font: bold 16px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0);/*fallback color*/
  background: grey;
  border: 4px solid black;
}
.logo{
  position: absolute;
  top: -5px;
  left: 25px;
  /*font: bold italic 22px Helvetica;*/
}
h1 {
  font-family: 'VT323', monospace;
  font-size: 65px;
  background: -webkit-linear-gradient(#FFFFFF, #800000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero{
  background: url(images/background.jpg);
  height: 800px;
  position: relative;
  background-size: 100%;
}
.logo-container {
  color: white;
  font: bold 24px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  text-align: right;
  /*background: rgb(0, 0, 0);/*fallback color
  background: rgba(0, 0, 0, 0.7);*/
}
.central-text {
  top: 50px;
  left: 0px;
  float: right;
  color: white;
  font: bold 24px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  text-align: right;
  background: rgb(0, 0, 0);/*fallback color*/
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}
.apple {
  float: right;
  padding: 10px;
  color: white;
  font: bold 18px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  text-align: center;
  background: rgb(0, 0, 0);/*fallback color*/
  background: rgba(0, 0, 0, 0.7);
  height: auto;
  width: 150px;
}
.windows {
  float: right;
  padding: 10px;
  color: white;
  font: bold 18px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  text-align: center;
  background: rgb(0, 0, 0);/*fallback color*/
  background: rgba(0, 0, 0, 0.7);
  clear: both;
  height: auto;
  width: 150px;
}
.mobile-support-container{
  clear: both;
}
.mobile {
  float: right;
  padding: 10px;
  color: white;
  font: bold 18px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  text-align: center;
  background: rgb(0, 0, 0);/*fallback color*/
  background: rgba(0, 0, 0, 0.7);
  height: auto;
  width: 150px;
}
.support {
  float: right;
  padding: 10px;
  color: white;
  font: bold 18px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  text-align: center;
  background: rgb(0, 0, 0);/*fallback color*/
  background: rgba(0, 0, 0, 0.7);
  height: auto;
  width: 150px;
}
.quicknav {
  display: inline-block;
  background: black;
  color: white;
  font: bold 16px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  width: 48%;
  padding: 10px;
}
.quicknav ul {
  text-decoration: underline;
  list-style-type: none;
}
.get-in-touch {
  display: inline-block;
  background: black;
  color: white;
  font: bold 16px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  width: 48%;
  float: right;
  padding: 10px;
}
address {
  display: inline-block;
  background: black;
  color: white;
  font:bold italic 16px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  padding: 25px;
  padding-right: 50px;
  padding-left: 60px;
}
.copyright {
  background: black;
  color: white;
  font: bold 18px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  text-align: center;
  padding: 20px;
  border-top: 7px solid grey;
}
#searchbox
{
    background-color: grey;
    font: bold 18px Helvetica, Sans-Serif;
    border-radius: 25px;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    width: 250px;
    height: 25px;
    padding: 7px;
    /*margin: 10px auto 50px;*/
    float: right;
    overflow: hidden; /* Clear floats */
}
